<div class="container center_div bg-light border rounded border-light mt-5">
        <label class="col-sm-2 col-form-label col-form-label-lg">Login</label>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label position="floating">Username</label>
                <input class="form-control" formControlName="username" type="text" >   
            </div>
            <div color="danger" *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty)">
                <p>Please enter a valid name.</p>
            </div>
            <div class="form-group">
                <label position="floating">Password</label>
                <input class="form-control" formControlName="password" type="password">  
            </div>
            <div class="mb-4">
                <button class="btn btn-primary col-lg-6 col-md-6 col-sm-12" type="submit">Login</button>
                <a class="btn btn-info col-lg-6 col-md-6 col-sm-12" routerLink="/register" routerLinkActive="active">Sign Up</a>
            </div>
        </form>
    </div>
    