<div class="container center_div bg-light border rounded border-light mt-5">
    <label class="col-sm-2 col-form-label col-form-label-lg">Sign up</label>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label position="floating">Username</label>
            <input class="form-control" formControlName="username" type="text" >   
        </div>
        <div color="danger" *ngIf="!registerForm.controls.username.valid  && (registerForm.controls.username.dirty)">
            <p>Please enter a valid name.</p>
        </div>
        <div class="form-group">
            <label position="floating">Password</label>
            <input class="form-control" formControlName="password" type="password">  
        </div>
        <div color="danger" *ngIf="!registerForm.controls.password.valid  && (registerForm.controls.password.dirty)">
            <p>Please enter a valid number of minutes(Jack of all trades, master of none).</p>
        </div>
        <div class="form-group">
            <label>Password Confirmation</label>
            <input class="form-control" formControlName="passwordConfirm" type="password">
        </div>
        <div class="mb-4">
            <button class="btn btn-primary col-lg-6 col-md-6 col-sm-12" type="submit">Register</button>
            <a class="btn btn-info col-lg-6 col-md-6 col-sm-12" routerLink="/" routerLinkActive="active">Return to login</a>
        </div>
    </form>
</div>
